html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
}

#fragment {
	margin: 3rem auto 0;
	width: 50%;
	padding: 1em;
	border: 1px solid #ddd;
	background: #f0f8ff;
}

#fragment h1 {
	margin-bottom: 1rem;
}

#fragment div+div {
	margin-top: 1.3rem;
	padding-top: 0.5rem;
	font-size: 0.6rem;
	border-top: 1px solid #ddd;
}

#fragment-form {
	width: 50%;
	position: absolute;
	right: 0;
	top: 2em;
	border: 1px solid #ddd;
	padding: 1.5rem;
	background: #fff;
	z-index: 10;
	display: none;
}

#fragment-form-error {
	color: #f00;
	font-weight: bold;
}

#fragment-form label, #fragment-form input, #fragment-form textarea {
	display: block;
	width: 100%;
}

#fragment-form label {
	padding-bottom: 0.2rem;
}

#fragment-form input, #fragment-form textarea {
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	padding: 0.3rem;
}

#fragment-form textarea {
	height: 5rem;
}

#fragment-form input:focus, #fragment-form textarea:focus {
	border: 1px solid #6495ed;
	box-shadow: 0 0 4px 0 #6495ed;
	outline: 0;
}

#fragment-form input[type=submit] {
	width: 30%;
	color: #fff;
	background: #6495ed;
	border: 0;
	float: right;
	cursor: pointer;
}

#fragment-form-button {
	position: absolute;
	top: 2.2em;
	right: 0.2em;
	width: 1.8em;
	height: 1.8em;
	text-align: center;
	padding: 0.45em;
	z-index: 11;
	color: #fff;
	background: #6495ed;
	border-radius: 50%;
	cursor: pointer;
}

#fragment-form-image-preview {
	display: none;
	position: relative;
}
#fragment-form-image-preview img {
	max-width: 100%;
}
#fragment-form-image-preview a {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.2rem;
	background: #f00;
	cursor: pointer;
	display: none;
}
#fragment-form-image-preview:hover a {
	display: block;
}
#fragment-form-image-progressbar {
	border: 1px solid #ccc;
	padding: 0.2rem;
	height: 1rem;
	display: none;
}
#progress {
	background: #6495ed;
	height: 0.5rem;
}

#layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(150, 150, 150, 0.5);
	display: none;
	z-index: -10;
}
